table {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.filterTable{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.TitleTable{

color: #efefef;
font-family: "Montserrat", sans-serif;
text-align: center;
}

.mat-elevation-z8{

}

.show-countries-container{
/* min-width: 668px;
margin: 5rem; */
}

@media (max-width: 700px) {
  .filterTable{
    width:90 vh;
    }

    table {
      display: flex;
      flex-wrap: wrap;
    }
/*     tbody{
      display: flex;
      flex-wrap: wrap;
    } */

  th{
    display: none;
  }
  thead tr th:first-child {
    display: block;
  }
  tr {
    display: flex;
    flex-direction: column;
    min-height: 9rem;
    flex-wrap: wrap;
  }
/*   td{
    min-height: auto;
  } */

/*   .header {
    display: none;
  } */
}

