<!-- pte revision -->
<div class="desktop_sidebar-container">
  <div class="desktop_sidebar"
       [style.width]="collapsed? '6.5vw':'22.2vh'"
       [style.overflow]="hideToggle ? 'hidden':''">
    <div class="desktop_sidebar_logo"
         [ngClass]="{collapsed:collapsed}"
         title="Ir al dashboard">
      <img [hidden]="!collapsed" src="/assets/sidebar/imagotipo@1x.png" alt="image"/>
      <img [hidden]="collapsed" src="/assets/sidebar/LOGO HORIZONTAL@1x.png" alt="image"/>
    </div>
    <!-- sidebar menus container -->
    <div class="desktop_sidebar_sidebar">
      <!-- card with all of the options-->
      <div class="scroll" id="ScrollBar">

        <div class="ScrollBar-container">
          <a routerLink="dashboard/show-countries" class="menuTitle ">Countries today</a>
          <a routerLink="dashboard/list-favorites" class="menuTitle ">Records</a>
        </div>
      </div>
    </div>

  </div>
  </div>
