.add-button {
background-color: #efefef;
display: flex;
flex-direction: row;
}
mat-icon-button{
  background-color: #efefef;
}

.add-button-container{
  display: flex;
  align-items: center;
  justify-content: center;

}
.add-button-container span{
  color: #efefef;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-left: 0.7rem;
}

.filter-add-container{
display: flex;
justify-content: space-between;
}

.TitleTable{
  color: #efefef;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  }

  mat-form-field{
    min-width: 350px;
  }



  @media (max-width: 700px) {

      .mat-mdc-table .mdc-data-table__header-row {
        display: none;
    }

    tr {
        display: flex;
        flex-direction: column;
        min-height: 12.3rem;
        flex-wrap: wrap;
        border-bottom: 3px solid #aeaeae;
      }


      td{
        text-align: right;
      }
      td::before{
        content:attr(data-label);
        font-weight: bold;
        float: left;
      }

      .add-button-container span{
      display: none;
      }
      .filter-add-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }

    }
